$primary-color: #13293d;
$primary-text-color: #e8f1f2;
$secondary-text-color: #ff6b35;

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  font-family: 'Roboto';
  color: $primary-text-color;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

.home-container {
  padding: 4rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  text-decoration: none;
  color: $primary-text-color;
  font-weight: bold;
  letter-spacing: 1px;
}

a:hover {
  color: $secondary-text-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-text-color;
}

.active {
  color: $secondary-text-color;
}
